<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-app-checker" version="0.0.2">
<name>Android App Checker</name>
<description>Checks whether Android app is enabled or not.</description>
<license>MIT</license>
<author>Attila Olah, Dexter Chen</author>
<keywords>android,system,app,checker</keywords>
<js-module src="www/app-checker.js" name="appChecker">
  <clobbers target="cordova.plugins.appChecker" />
</js-module>
<platform name="android">
  <config-file target="config.xml" parent="/*">
      <feature name="AppChecker">
          <param name="android-package" value="com.dexterouschen.cordova.AppChecker.AppChecker"/>
      </feature>
  </config-file>
  <source-file src="src/android/AppChecker.java" target-dir="src/com/dexterouschen/cordova/plugin" />
</platform>
</plugin>